on:
  pull_request:
  push:
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        java-version: 21
        distribution: adopt
    - uses: sbt/setup-sbt@v1
    - run: sbt -v scalafmtCheckAll scalafmtSbtCheck test
